body{
	 font-size: 13px;
	 font-family: "Vollkorn";
	 font-style: normal;
	 font-weight: 400;
	 margin:0;
}

h1{
	 font-size: 30px;
	 line-height: 30px;
	 margin-bottom: 10px;
	 margin-left: 30px;
	 color: white;
	 }
h2{
	 font-size: 20px;
	 font-style: italic;
	 line-height: 20px;
	 margin-bottom: 25px;
	 margin-left: 30px;
	 color: #982e2e;
	 }
h3{
	 font-size: 16px;
	 line-height: 30px;
	 margin-left: 30px;
	 color: #982e2e;
	 }

p{
	 font-size: 12px;
	 line-height: 20px;
	 margin-left: 30px;
	 color: #982e2e;
	 font-style: italic;
}

	img {
		max-width: 100%;
		height: auto;
	}

p.heading{
	 letter-spacing: 2px;
	 font-size: 13px;
	 margin-bottom: 35px;
	 border-width: 0px 0px 1px 0px;
	 border-style: dotted;
	 margin-top: 45px;
	 }

.container {
	width: 90%;
  	max-width: 960px;
    margin: 0 auto;
    padding-bottom: 40 px;
 }

.container:after {
   content:"";
   display:table;
   clear:both;
}

.branding {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	}
	
.menu-image {
	margin-left: -2.25%;
	max-width: 104.5%;
	}
				
.events-image {
	margin-left:-2%;
	width: 104%;
	max-width: inherit;
	}
				
.course h3 {
	font-weight: normal;
	}

.events h2 {
	color: white;
	}

.events p {
	font-weight: normal;
	}

.events {
	text-align: center;
	}

.footer {
		position: relative;
		background: url('../images/header-pattern.jpg') left top repeat;
		background-size: cover;
}

@media (min-width: 600px) {
	
	.main_content {
	float:left;
	width: 60%;
	}
	
	.sub_content {
	float: right;
	width: 30%;
	}
}

@media (max-width: 600px) {

	.main_content,
	.sub_content,
	.contact {
	float: none;
	width: 100%;
	}
}